@use '../../styles/style.scss' as *;

.accordion{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  overflow: hidden;
  height: fit-content;
  //margin-bottom: 1rem;

}
.accordion-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-self: baseline;
  justify-content: baseline;
  min-width: 220px;
  cursor: pointer;
}
.title{
    margin-block-start: .2em;
    margin-block-end: .2em;
}
.icon{

}

.accordion-header{
  width: 100%;
}

.content{
  max-height: 0px;
  width: 100%;
  padding-left: .5rem;
  opacity: 0;
  transition: max-height .4s, opacity .4s, margin .4s;
}
.content.active{

  margin-top: .5rem;
  max-height: 500px;
  
  //padding: .5rem 0;
  opacity: 1;
  //line-height: 2rem;
}
.buttons{
  display: flex;
  flex-direction: row;
}