@use '../../styles/style.scss' as *;

.nav-link{
  position: relative;
  text-decoration: none;


  &::before{
@include underline-animated;
  }

  &:hover::before{
    width: 100%;
  }
}
.nav-link.active-link{
  font-weight: bold;
    &::before{
    width: 100%;
  }

}
