@use '../../styles/style.scss' as *;

.nav-link{
  position: relative;
  text-decoration: none;


  &::before{
@include underline-animated;
  }

  &:hover::before{
    width: 100%;
  }
}
.active-link{
  color: $color-myred;
  
}
