@use '../../../../styles/style.scss' as *;

.footer{
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

    .divider{
    width: 100%;
  }
  .contacts{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: .5rem;
    @include for-phone {
      display: none;
    }
  }
  p{
        margin-block-start: .7em;
    margin-block-end: .7em;
    @include for-phone{
              margin-block-start: 1em;
              margin-block-end: 1em;
    }

  }
}