@use '../../../../styles/style.scss' as *;
.grid{
  position: relative;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
   
  @include for-tablet{
    grid-template-columns: 55% 45%; 
  }
  @include for-phone{
  grid-template-columns: 1fr;
  grid-template-rows:repeat(2);
  grid-column-gap: 20px;
  }

.image-wrapper{
  //max-width: 500px;
  //max-height: 500px;
  // to do fix issue with responsive image
  max-width: calc(100vh - 350px);
  height: auto;
  aspect-ratio: 1 / 1;
  //max-height: calc(100vh - 350px);
  margin: 0 auto 20px;
  position: sticky;
  top: 30px;

  @include for-tablet{
    max-width: calc(55vw - 30px);
    aspect-ratio: 1 / 1;
  }
  @include for-phone{
    width:calc(100vw - 50px);
    aspect-ratio: 1 / 1;
    position: relative;
    top: 0;
  }
}
.swiper-wrapper{
  position: sticky;
  top: 30px;
}
/*.image-wrapper img{
  width: 100%;
  height: auto;
  position: sticky;
  top: 30px;
}*/
.content-wrapper{
display: flex;
flex-direction: column;
gap: .3rem;

.spacing{
  font-size: 1.1em;
  letter-spacing: .2em;
  line-height: 35px;
    @include for-tablet{
      line-height: 35px;
    }
    @include for-phone{
      letter-spacing: 0.05em;
      line-height: 25px;
    }
}
.price{
  font-size: 25px;
  margin: .5em 1em;
}
.flex-row{
    display: flex;
    gap: 2rem;


    @include for-tablet{
      //flex-direction: column;
      gap: .5rem;
    }
    @include for-phone{
      //flex-direction: column;
      gap: .5rem;
    }
  }
  .title{
    font-size: 24px;
    font-weight: bold;
  }
}

}

