@use '../../../../styles/style.scss' as *;
.grid{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
   
  @include for-tablet{
    grid-template-columns: 55% 45%; 
  }
  @include for-phone{
  grid-template-columns: 1fr;
  grid-template-rows:repeat(2);
  grid-column-gap: 20px;
  }

.image-wrapper{
  //max-width: 500px;
  //max-height: 500px;
// to do fix issue with responsive image
  max-width: calc(100vh - 350px);
  //max-height: calc(100vh - 350px);
  margin: 0 auto 20px;
  position: sticky;
  top: 30px;

  @include for-tablet{
    max-width: calc(55vw - 30px);
  }
  @include for-phone{
    max-width: calc(100vw - 50px);
    height: auto;
    position: relative;
    top: 0;
  }
}
.image-wrapper img{
  width: 100%;
  height: auto;
  //position: sticky;
  top: 30px;
}
.content-wrapper{
display: flex;
flex-direction: column;
gap: 1rem;

.spacing{
  font-size: 1.1em;
  letter-spacing: .2em;
  line-height: 44px;
}
.price{
  font-size: 25px;
}
  .flex-row{
    display: flex;
    gap: 2rem;
    @include for-tablet{
      flex-direction: column;
    }
    @include for-phone{
      flex-direction: column;
    }
  }
  .title{
    font-size: 24px;
    font-weight: bold;
  }
}

}

