@use '../../styles/style.scss' as *;
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    @include for-phone {
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    
    
    }


}