
@use '../../../../styles/style.scss' as *;

.header{
  position: relative;
  max-width: 100vw;
  background-color: #fff;
}

.up-navigation,.toolbar, .navigation{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  background-color: $color-background-white;




}
  .navigation__list{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    

    }
  
    .navigation__button{
      position: relative;
      display: inline;
      height: 20px;
      max-width: 50px;
      
    }

    .navigation__button::after{
        @include underline-animated;
      }
      .navigation__button:hover::after{
        width: 100%;
      }
      .navigation__button_icon{
          vertical-align: top;
          transform: none;
          transform-origin: center;
          transition: transform .4s;
      }
      .navigation__button_icon-rotate{
        vertical-align: middle;
          transform: rotate(-90deg);
          transform-origin: center;
          transition: transform .4s;
      }

      .navigation__list_vertical{
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  justify-content: space-between;
  background-color: $color-background-white;
  z-index: 2;
  border-radius: 5px;
  

    

    }
    .navigation__list_vertical.hide{
        display: none;
    }

    .navigation__list_item{
     display: inline-block;
     height: 35px;
    }

.toolbar{
  
  .searchbar, .logo, .icons {
    flex-basis: 27%;

    @include for-phone{
      flex-basis: auto;
    }
  }
  .searchbar{
    display: flex;
    gap: 5px;
  }
  .logo{
    text-align: center;
  }
  .logo.hide{
    @include for-phone{
          display: none;
    }

  }
  .icons{
    justify-content: end;
  }
}
/*.toolbar{
    position: relative;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

}*/
.up-navigation{

padding: 1px 50px;
background-color: $color-burgundy;

@include for-tablet {
   padding: 1px 10px;
}
@include for-phone{
  padding: 1px 5px;
}
.info, .contact{

  display:flex;
  gap: .8rem;

  @include for-phone{

    gap: .5rem;
  }
}

}
.toolbar{
  justify-content: space-between;
  padding: 0 70px;
  min-height: 100px;
  @include for-tablet {
 
   padding: 1px 20px;
  }

  @include for-phone{
     min-height: 65px;
     padding: 0 5px;
  }
}
.menu-icon{
  display: none;
  
}
.navigation{
  padding: 10px 30px;
  font-size: 1.1rem;
  gap: 1rem;
  max-height: 32px;
  min-height: 24px;
  margin: 0 auto;

    @include for-phone { 
      display: none;
      padding: 5px 10px;
    }
  
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 3rem;

  @include for-phone {
    gap: 1rem;
  }
  .favorite:hover, .cart:hover{
    cursor: pointer;
    transform: scale(1.25);
    transition: all .4s;
  }
}
.icon{
  color: $color-background-white;
  

  &:hover{
    cursor:  pointer;
    color: $color-myred-light;
   
  }
}
.title{
  display: flex;
  flex-direction: column;
  text-align: center;
 
    @include for-phone {
    font-size: 0.8rem;
  }

  .title_h2{
    font-size: 1rem;
    font-weight: 600;
    
        @include for-phone {
    font-size: 0.8rem;
  }
  }
}