
.header{
  position: relative;
  min-width: 100vw;
  background-color: #fff;
}
.toolbar, .navigation{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  background-color: #fff;
}
.toolbar{
  justify-content: space-between;
  padding: 0 90px;
  min-height: 120px;
}
.navigation{
  padding: 10px 30px;
  gap: 1rem;
  max-height: 32px;
  min-height: 24px;
    margin: 0 auto;
  
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
