
.header{
  position: relative;
  min-width: 100vw;
  background-color: #fff;
}

.up-navigation, .toolbar, .navigation{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;


  background-color: #fff;
}
.up-navigation{

padding: 1px 50px;
background-color: #682d2d;
.info, .contact{

  display:flex;
  gap: .8rem
}

}
.toolbar{
  justify-content: space-between;
  padding: 0 70px;
  min-height: 100px;
}
.navigation{
  padding: 10px 30px;
  font-size: 1.1rem;
  gap: 1rem;
  max-height: 32px;
  min-height: 24px;
    margin: 0 auto;
  
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.icon{
  color: #fff;
  

  &:hover{
    cursor:  pointer;
    color:#FF5252;
    trancition: color .2s;
  }
}
