@use '../../styles/style.scss' as *;

.burger{
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  background: #fff;
  //transform: translateX(-100vw);
  left: -100%;
  transition: all .85s;
  z-index: 7;
}
.burger.active{
    left: 0;
   
  }


.burger-title{  
  display:flex;
  justify-content: space-between;
  width: 280px;
  height: 60px;
  padding: 15px;
  

      .burger-title-item{
    padding-left: 5rem;
    font-size: 1.8rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }

    .burger-title-font{
      font-size: 2rem;
    }

  .burger-close{

    width: 40px;
    height: 100%;
    border-radius: 8px;

    &:hover{
      background: $color-myred-light;
    }
  }
}
.menu-content-wrapper{
  width: 100%;
  height: 100%;

  .menu-content{
  width: 100%;
  max-height: calc(100% - 150px);
  padding: 20px;
  margin-bottom: 20px;

  overflow-y: auto;
  overflow-x: hidden;
  //overflow-y: scroll;

  .filter-items-wrapper{
     display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

  }

}
}


