.dot{ 

      background-color: red;
      border-radius: 5px;
      height: 10px;
      padding: 5px;
      margin: 5px;
      width: 10px;
      z-index: 1;

      &:hover{
        cursor: pointer;
        background-color: green;
      }

      & .selected{
        
      }
}