@import-normalize; // https://create-react-app.dev/docs/adding-css-reset/
@import url("fonts/stylesheet.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:wght@300;400;700&display=swap');

$color-myred: #ff4f33;
$color-myred-light: #FF5252;
$color-light-l: #e7ebf0;
$color-burgundy: #682d2d;
*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-size: 2rem;
}
body {
  
  margin: 0;
  //font-family: 'Avenir Next Cyr', sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lock { overflow: hidden;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

